[paths]
source =
    env\Lib\site-packages\pnio_dcp
    C:\GitLab-Runner\builds\*\*\shacks\python\cw_dcp\tests\env\Lib\site-packages\pnio_dcp\
    /builds/shacks/python/cw_dcp/tests/env/lib/python3.9/site-packages/pnio_dcp